<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jyothikrishnamurthy.menus" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".DynamicallyAddedOptionsMenu"
            android:label="@string/title_activity_dynamically_added_options_menu"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".StaticContextMenu"
            android:label="@string/title_activity_static_context_menu"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".DynamicallyAddedContextMenu"
            android:label="@string/title_activity_dynamically_added_context_menu"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaticSubMenuForOptionsMenu"
            android:label="@string/title_activity_static_sub_menu_for_options_menu"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".DynamicallyAddedOptionsSubMenu"
            android:label="@string/title_activity_dynamically_added_options_sub_menu"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".StaticContextSubMenu"
            android:label="@string/title_activity_static_context_sub_menu"
            android:theme="@style/AppTheme.NoActionBar" >


        </activity>
        <activity
            android:name=".DynamicallyAddedContextSubMenu"
            android:label="@string/title_activity_dynamically_added_context_sub_menu"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
    </application>

</manifest>
